  <footer class="my-12 text-center">
    <ul class="inline-flex opacity-75">
      <li>
        <a
          href="/terms"
          class="termsLink underline mr-2 active:text-primary hover:text-primary focus:text-primary"
        >
          Terms of Service
        </a>
      </li>
      <li>
        <a
          href="/privacy"
          class="underline active:text-primary hover:text-primary focus:text-primary"
        >
          Privacy Policy
        </a>
      </li>
    </ul>
  </footer>
