<header class="py-8">
	{% include 'components/nav.njk' %}
	<div class="themeChange tg-list-item">
		<input class="tgl tgl-flat" id="themeChange" type="checkbox"></input>
		<label class="tgl-btn" for="themeChange"><span class="sr-only">Change the theme</span></label>
	</div>
</header>