---
layout: default
meta_title: Submit
meta_description: Submit page description
body_class: submit
title: Submitted
---

 <main class="bg-theme text-text text-center">
  <div class="home__header m-auto mb-4">
  <header>
        <h1 class="text-2xl leading-8 font-serif font-bold mb-2">
            Honor a loved one
        </h1>
    </header>
    <p class="leading-tight">There's no easy way to ask for this. Losing a loved one is hard. And yet, the internet can be cruel. To deter trolls and honor your loved one with dignity, please verify their passing by providing the info below.</p>
  </div>
  <a
    class="bg-text px-4 py-2 rounded text-theme order-1 sm:order-2 mb-5 sm:mb-0"
    href='/submit'
  >Submit someone else</button>
</main>
